.home {
  &__top {
    width: 100%;
    height: 950px;
    background-image: linear-gradient(
      45deg,
      rgba(226, 226, 226, 1),
      rgba(255, 255, 255, 0)
    );
    &-title {
      z-index: 2;
      height: 160px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      h1 {
        font-size: 2.5rem;
        font-weight: bold;
        color: black;
        text-transform: uppercase;
        line-height: 1.5em;
        padding: 20px 20px 0;
        text-align: center;
      }
      &-line {
        padding-top: 75px;
      }
    }
  }
  &__body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .swiper {
    display: none;
  }
  &__berry-mobile {
    display: none;
  }
  &__berry-desktop {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    width: 430px;

    &-img {
      position: absolute;
      top: 32%;
      min-width: 480px;
    }
    &-circle {
      position: absolute;
      width: 185px;
      min-height: 180px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      img {
        height: 100px;
      }
      &.item-1 {
        top: 70px;
        left: -10px;
      }
      &.item-2 {
        top: 70px;
        right: -10px;
      }
      &.item-3 {
        right: -155px;
      }
      &.item-4 {
        top: 520px;
        right: -10px;
      }
      &.item-5 {
        top: 520px;
        left: -10px;
      }
      &.item-6 {
        left: -155px;
      }
    }
  }
  &__background {
    &-left {
      position: absolute;
      top: 42%;
      left: 0;
      background-image: url('../img/bubbles_left.png');
      background-repeat: no-repeat;
      width: 650px;
      height: 650px;
      z-index: 0;
    }
    &-right {
      position: absolute;
      top: 13%;
      right: 0;
      background-image: url('../img/bubbles_right.png');
      background-repeat: no-repeat;
      width: 650px;
      height: 650px;
      z-index: 0;
    }
  }
}

.home__bottom {
  display: flex;
  width: 100%;
  padding-top: 100px;
  background-image: linear-gradient(
    -135deg,
    rgba(226, 226, 226, 1),
    rgba(255, 255, 255, 0)
  );
  &-left,
  &-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title {
      font-size: 2.5rem;
      text-align: center;
      font-weight: bold;
      line-height: 1.5em;
      padding: 20px 20px;
    }
  }
  &-left {
    &-title {
      font-size: 2.5rem;
      line-height: normal;
      padding-left: 60px;
    }
    &-box {
      padding: 20px 8% 40px;
      display: flex;
      flex-direction: column;
      article {
        display: flex;
      }
      section {
        display: flex;
        flex-direction: column;
        position: relative;
      }
      a {
        font-weight: bold;
        padding-top: 20px;
        color: black;
      }
      &-upper {
        display: flex;
        img {
          max-width: 250px;
          max-height: 210px;
          padding-right: 2%;
        }
        section {
          padding-left: 40px;
          &::before {
            content: '';
            background-image: url('../img/quotes_top.svg');
            background-repeat: no-repeat;
            width: 100px;
            height: 100px;
            position: absolute;
            left: -10px;
          }
          a {
            &::after {
              content: '';
              background-image: url('../img/quotes_bottom.svg');
              background-repeat: no-repeat;
              width: 100px;
              height: 100px;
              position: absolute;
              right: -70px;
            }
          }
        }
      }
      &-lower {
        display: flex;
        article {
          width: 50%;
          padding-top: 15%;
          padding-right: 5%;
          section {
            padding-left: 1%;
          }
        }
        img {
          position: relative;
          top: -10px;
          width: 110px;
          height: 110px;
        }
      }
    }
  }
  &-right {
    padding: 0 3% 0;
    &-upper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &-title {
      padding: 0px 10%;
    }
    &-subtitle {
      font-size: 1rem;
      line-height: 2em;
      padding-right: 20px;
    }
    &-box {
      p {
        display: none;
      }
      align-self: flex-start;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      width: 100%;
      padding-right: 75px;
      &-item {
        padding-left: 50px;
        border-bottom: 1px solid lightgray;
        min-height: 62px;
        position: relative;

        h3 {
          font-size: 1.5rem;
          font-weight: bold;
          line-height: 1.5em;
          padding-top: 0.8rem;
          padding-right: 30px;
          &::before {
            content: '';
            background-repeat: no-repeat;
            width: 40px;
            height: 40px;
            position: absolute;
            left: 0px;
            top: 10px;
          }
          &::after {
            content: '';
            background-image: url('../img/shevron_down.svg');
            background-repeat: no-repeat;
            width: 40px;
            height: 40px;
            position: absolute;
            right: -15px;
            top: 25px;
          }
        }
        &:nth-child(1) {
          & h3::before {
            background-image: url('../img/list-item-1.svg');
          }
        }
        &:nth-child(2) {
          & h3::before {
            background-image: url('../img/list-item-2.svg');
          }
        }
        &:nth-child(3) {
          & h3::before {
            background-image: url('../img/list-item-3.svg');
          }
        }
        &:nth-child(4) {
          & h3::before {
            background-image: url('../img/list-item-4.svg');
          }
        }
        &:nth-child(5) {
          & h3::before {
            background-image: url('../img/list-item-5.svg');
          }
          border-bottom: none;
        }
        &.active {
          & h3::after {
            content: '';
            background-image: url('../img/shevron_up.svg');
            background-repeat: no-repeat;
          }
          h3 {
            color: #00c368;
          }

          & p {
            display: block;
            padding: 10px 10% 10px 0;
          }
        }
      }
    }
  }
}

@media (max-width: 920px) {
  .home {
    h1,
    h2,
    h3 {
      font-size: 1.5rem;
    }
    &__berry-desktop {
      display: none;
    }
    &__berry-mobile {
      display: flex;
      margin-top: 20px;
      margin-bottom: -120px;
      width: 250px;
    }
    &__background-left,
    &__background-right {
      display: none;
    }
    &__top {
      background: none;
      height: auto;
      &-title {
        h1 {
          padding: 0 5px;
        }
        &-line {
          display: none;
        }
      }
    }
    &__bottom {
      background: #f8fbff;
      flex-direction: column-reverse;
      padding: 20px 16px 0;
      &-left,
      &-right {
        width: 100%;
        padding: 0;
        &-title {
          padding: 10px 0;
        }
        &-subtitle {
          text-align: center;
          padding: 0;
        }
      }
      &-right {
        padding-bottom: 20px;
        &-box {
          padding: 0;
          &-item {
            padding: 0;
          }
          h3 {
            font-size: 1rem;
            &::before {
              display: none;
            }
          }
        }
      }
      &-left {
        padding-top: 40px;
        &-title {
          padding-top: 15px;
          padding-bottom: 40px;
        }
        &-box {
          height: auto;
          margin: 70px 0;
          padding: 0;
          &-upper {
            article {
              position: relative;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;  
              img {
                width: 100px;
                height: 100px;
                padding: 0;
                position: absolute;
                top: -50px;
                z-index: 2;

              }
              section {
                padding: 60px 15px 15px;
                text-align: center;
                border: #00c368 solid 1px;
                box-shadow: 0px 12px 12px rgba(0, 195, 104, 0.2);
                border-radius: 30px;
                &::before {
                  display: none;
                }
                a::after {
                  display: none;
                }
                &::before {
                  content: '';
                  display: block;
                  width: 100px;
                  height: 100px;
                  position: absolute;
                  top: 15px;
                  left: 15px;
                  background-image: url('../img/quotes-grey-left.svg');
                  background-repeat: no-repeat;
                }
                &::after {
                  content: '';
                  display: block;
                  width: 100px;
                  height: 100px;
                  position:   absolute;
                  top: 15px;
                  right: -45px;
                  background-image: url('../img/quotes-grey-right.svg');
                  background-repeat: no-repeat;
                }
              }
            }
          }
          &-lower {
            padding: 0 4px;
            flex-direction: column-reverse;
            article {
              width: 100%;
              padding: 40px 0 0 ;
              img {
                top:0;
                height: 60px;
                width: 60px;
                padding: 0;
              }
              section {
                padding: 0 10px;
              }
            }
          }
        }
      }
    }
    .swiper {
      display: block;
      z-index: 2;
      width: 100%;
      height: 300px;
      max-width: 300px;
      margin: 30px auto;
      position: relative;

      .swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 5px 20px;
        p {
          width: 75%;
        }
        img {
          max-width: 100%;
          border-radius: 10px;
        }
      }
      .swiper-button-next,
      .swiper-button-prev {
        z-index: 100;
        top: 222px;
        position: absolute;
        color: #333;
        width: 30px;
        height: 30px;
        margin: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
          font-size: 16px;
          font-weight: bold;
        }
      }
      .swiper-button-next {
        right: 50px;
      }

      .swiper-button-prev {
        left: 50px;
      }
      .swiper-pagination {
        bottom: 50px !important;

        .swiper-pagination-bullet {
          width: 10px;
          height: 10px;
          background: #ccc;
          opacity: 1;
          transition: background 0.3s;

          &.swiper-pagination-bullet-active {
            background: #333;
          }
        }
      }
    }
  }
}
